@font-face {
    font-family: 'Asap-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Asap Bold'), local('Asap-Bold'), url(../Fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.woff) format('woff'), url(../Fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Asap'), local('Asap-Regular'), url(../Fonts/asap_9a9c99a733cce9abf9e9c7ad122ac9a5.woff) format('woff'), url(../Fonts/asap_9a9c99a733cce9abf9e9c7ad122ac9a5.ttf) format('truetype');
}

.about_head {
    border-bottom: 2px solid #999;
}

#content_wrapper {
    width: 80%;
    margin: 60px 10% 0 10%;
    line-height: 200%;
}

.head_font {
    font-family: Asap-Bold;
    color: #333;
}

.content_font {
    font-family: Asap-Regular;
    color: #999;
}

.intro_head {
    font-size: 36px;
}

.intro_para {
    font-size: 20px;
}

.intro_text_div {
    width: 60%;
    text-align: left;
    line-height: 200%;
}

.intro_image {
    width: 35%;
    height: 450px;
}

.intro_year {
    text-align: right;
    font-family: Asap-Bold;
    color: #999;
    font-size: 20px;
}

.point_head {
    font-size: 22px;
}

.point_para {
    font-size: 20px;
}

.point2,
.point4 {
    margin-left: 35px;
}

.point_circle {
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
}

.points_div_left {
    width: 40%;
    text-align: left;
    height: 150px;
}

.points_div_right {
    width: 40%;
    text-align: left;
    height: 150px;
    display: inline-block;
    margin-left: 96px;
    margin-top: -50px;
    float: right;
}

.points_div3 {
    margin-top: 125px;
}

.circle1 {
    background-color: #FE8888;
    float: right;
    right: -29%;
    top: 60px;
}

.circle2 {
    background-color: #FC6A6A;
    float: left;
    left: -29%;
    display: inline-block;
    top: 94px;
}

.circle3 {
    background-color: #FB5B5B;
    float: right;
    right: -29%;
    top: 50px;
}

.circle4 {
    background-color: #FB4444;
    float: left;
    left: -29%;
    display: inline-block;
    top: 86px;
}

.now {
    display: table;
    margin: 175px auto 0px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FD0202;
}

.now_tag {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: Asap-Bold;
    font-size: 24px;
    color: #fff;
}

.look {
    width: 100%;
    text-align: center;
}

.look_head {
    font-size: 36px;
    padding-bottom: 20px;
}

.look_content {
    font-size: 20px;
    padding-bottom: 20px;
}

.email_div {
    display: table;
    margin: auto;
    width: 40%;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #2ecc71;
    margin-bottom: 20px;
}

.email_id {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: Asap-Bold;
    font-size: 24px;
    color: #fff;
}


/*Starting the media query for the first break point. 
Changing the view of points listed to fit the new width.*/

@media screen and (max-width: 1050px) {
    .intro_text_div {
        width: 100%;
        text-align: center;
    }
    .intro_image {
        width: 36%;
        margin: 0 32%;
    }
    .points_div_left,
    .points_div_right {
        position: relative;
        height: 180px;
        width: 100%;
        vertical-align: middle;
    }
    .points_div_right {
        margin: 0px;
    }
    .point_circle {
        left: 0;
    }
    .circle1,
    .circle3 {
        float: none;
    }
    .circle2 {
        top: 60px;
    }
    .circle4 {
        top: 50px;
    }
    .points_div_left {
        float: right;
    }
    .points {
        position: relative;
        height: 175px;
        width: 90%;
        float: right;
    }
    .point2,
    .point4 {
        margin-left: 0px;
    }
    .points_div3 {
        margin-top: 0px;
    }
}
/*Starting the media query to write the css style for the mobile view of the 'About' page*/
@media screen and (max-width:545px) {
    .intro_text_div {
        line-height: 150%;
    }
    .intro_head, .look_head {
        font-size: 26px;
    }
    .intro_para,
    .intro_year, .look_content, .email_id {
        font-size: 16px;
    }
    .intro_image {
        width: 50%;
        margin: 0 25%;
        height: 300px;
    }
    .point_head {
        font-size: 18px;
    }
    .point_para {
        font-size: 15px;
    }
    .points {
        width: 75%;
    }
    .points_div_left,
    .points_div_right {
        height: 200px;
    }
    .now{
    	width:80px;
    	height: 80px;
    }
    .email_div{
    	width: 70%;
    	height: 50px;
    }
}
