@font-face {
    font-family: 'Asap-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Asap Bold'), local('Asap-Bold'), url(../Fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.woff) format('woff'), url(../Fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Asap'), local('Asap-Regular'), url(../Fonts/asap_9a9c99a733cce9abf9e9c7ad122ac9a5.woff) format('woff'), url(../Fonts/asap_9a9c99a733cce9abf9e9c7ad122ac9a5.ttf) format('truetype');
}

body {
    margin: 0px;
}

.large_screen {
    z-index: 3;
    height: 60px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    display: block;
}

.small_screen {
    display: none;
}

a {
    text-decoration: none;
    padding: 3px;
}

.home_div {
    display: inline-block;
}

li {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

main {
    text-align: center;
    color: #fff;
    margin-top: 60px;
}

#wrapper {
    width: 100%;
    margin: 0px;
}

.active_page {
    font-family: Asap-Bold;
    font-size: 18px;
    color: #333;
}

.inactive_page {
    font-family: Asap-Bold;
    font-size: 18px;
    color: #999;
}

.social_icon {
    height: 32px;
}

.menu {
    width: 250px;
    float: left;
}

.logo {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 20px;
    text-align: center;
}

.social {
    float: right;
    width: 200px;
}

.why {
    width: 300px;
    text-align: justify;
}

.bgred_font_head {
    font-family: Asap-Bold;
    color: #fff;
}

.bgred_font_content {
    font-family: Asap-Regular;
    color: #fff;
}

.main_section {
    background-image: url("../Images/bg1_repeat.png");
    background-size: contain;
}

.section_main {
    font-size: 52px;
    margin: auto;
    padding-bottom: 21px;
}

.section_sub {
    font-size: 24px;
    margin: auto;
    padding-bottom: 41px;
}

.submit_email {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.email {
    width: 269px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    background-color: red;
    opacity: 0.3;
    font-size: 20.3px;
    padding-left: 20px;
    outline: none;
}

input {
    vertical-align: top;
    outline: none;
}

.ok {
    height: 60px;
    width: 81px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-style: none;
    background-color: #2eec71;
    margin-left: -2px;
    border: 0px solid #fff;
    font-size: 20.3px;
}

.ok:hover {
    background-color: #006400;
}

.arrow_button {
    position: absolute;
    left: 0;
    right: 0;
}

.arrow_down {
    height: 66px;
    margin-top: -46px;
}

.section_submit {
    width: 100%;
    height: 70px;
    padding-bottom: 20px;
}

.section_lower {
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    padding-bottom: 41px;
}

section {
    margin: auto;
    padding: 20px 0px;
    min-height: 100px;
}

article {
    padding: 20px 0px;
}

.section_main_div {
    width: 100%;
    text-align: center;
}

.section_sub_div {
    width: 100%;
    text-align: center;
}


/* Safari, Chrome and Opera */

::-webkit-input-placeholder {
    color: #fff;
    font-size: 20.3px;
    font-family: Asap-Regular;
}


/* Firefox 19+ */

::-moz-placeholder {
    color: #fff;
    font-size: 20.3px;
    font-family: Asap-Regular;
}

.section_down_arrow {
    height: 83px;
}

.section_feed {
    width: 75%;
}

.feed_content {
    background-color: #f5f5f5;
    background-size: contain;
}

.feed_head {
    text-align: center;
    color: #333;
    font-size: 36px;
    font-family: Asap-Bold;
}

.feed_tag {
    width: 100%;
    margin: auto;
    color: #999;
    font-size: 20px;
    font-family: Asap-Regular;
    text-align: center;
}

.feed_bg_div {
    width: 100%;
    margin: auto;
    display: block;
    padding-bottom: 50px;
}

.feed_bg {
    width: 100%;
    margin: auto;
    min-width: 300px;
}

.feed_sub {
    height: 300px;
    width: 75%;
}

.feed_sub_content {
    color: #333;
    font-size: 20px;
    font-family: Asap-Regular;
}
.feed_sub_content1 {
    text-align: left;
}
.feed_sub_content2 {
    text-align: right;
}
.feed_sub_image {
    width: 40%;
    display: inline-block;
}

.feed_sub_image1 {
    float: left;
}

.feed_sub_image2 {
    float: right;
}

.feed_sub_div {
    vertical-align: top;
    margin-left: 20px;
    width: 55%;
    height: 200px;
}

.feed_sub1_head {
    text-align: left;
    color: #333;
    font-size: 36px;
    font-family: Asap-Bold;
}

.feed_sub2_head {
    text-align: right;
    color: #333;
    font-size: 36px;
    font-family: Asap-Bold;
}

.social_connect {
    text-align: center;
}

.social_connect_div {
    margin: auto;
}

.social_head {
    color: #fff;
    font-size: 36px;
    font-family: Asap-Bold;
    text-align: center;
    width: 100%;
}

.social_content {
    color: #fff;
    font-size: 24px;
    font-family: Asap-Regular;
    text-align: center;
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
}

.social_links {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}

.social_image {
    min-width: 200px;
    width: 20%;
    padding: 0 5px;
}

.upcome {
    width: 100%;
    background-color: #333;
    background-size: contain;
    text-align: center;
    height: 180px;
    vertical-align: bottom;
}

.upcome_div {
    width: 100%;
    margin: auto;
}

.upcome_image {
    margin: auto;
    position: relative;
    width: 15%;
    height: 200px;
}

.upcome_tag {
    display: inline;
    width: 60%;
    font-size: 46px;
    position: relative;
    bottom: 88px;
    right: 40px;
}

.footer_social {
    display: block;
    text-align: center;
    padding: 10px 0px;
}


/*Starting the media query for the first break point. 
Adjusting the sizes of the text to fit the new width.*/

@media screen and (max-width:785px) {
    .section_main {
        font-size: 45px;
    }
    .section_sub {
        font-size: 22px;
    }
    .email {
        font-size: 17px;
    }
    .ok {
        font-size: 17px;
    }
    /* Safari,
    Chrome and Opera */
    ::-webkit-input-placeholder {
        font-size: 17px;
    }
    /* Firefox 19+ */
    ::-moz-placeholder {
        font-size: 14px;
    }
    .feed_sub {
        height: 200px;
    }
    .feed_tag {
        width: 100%;
        font-size: 16px;
    }
    .feed_sub_content {
        font-size: 16px;
    }
    .feed_sub1_head {
        font-size: 25px;
    }
    .feed_sub2_head {
        font-size: 25px;
    }
    .social_head {
        font-size: 30px;
    }
    .social_content {
        font-size: 22px;
    }
    .feed_bg {
        width: 100%
        /*height: 100%;*/
        margin: auto;
        min-width: 450px;
    }
    .social_image {
        width: 30%;
    }
    .upcome {
        height: 150px;
    }
    .upcome_image {
        width: 15%;
        height: 170px;
    }
    .upcome_tag {
        font-size: 30px;
        bottom: 80px;
        right: 32px;
    }
}


/*Starting the media query for the second break point. 
Changing the view of "Personalize Your Feed" according to the new width.*/

@media screen and (max-width:660px) {
    section {
        padding: 15px 0;
    }
    .feed_sub_div .feed_sub_image {
        display: block;
    }
    .feed_sub_image {
        width: 100%;
        margin: auto;
        max-height: 200px;
    }
    .feed_tag {
        width: 75%;
    }
    .feed_bg_div {
        width: 100%;
        margin-left: -40px;
        padding-bottom: 10px;
    }
    .feed_sub_head {
        display: block;
        text-align: center;
        font-size: 30px;
    }
    .feed_sub2_head {
        margin-top: 210px;
    }
    .feed_sub_content {
        text-align: center;
    }
    .feed_bg {
        width: 100%;
        margin: auto;
        min-width: 450px;
    }
    .feed_sub_image1 {
        float: none;
    }
    .feed_sub_image2 {
        float: none;
        margin-top: 150px;
    }
    .feed_sub_div {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .social_connect {
        margin-top: 350px;
    }
    .social_image {
        width: 30%;
        min-width: 100px;
    }
    .upcome {
        height: 125px;
    }
    .upcome_image {
        width: 15%;
        height: 140px;
    }
    .upcome_tag {
        font-size: 27px;
        bottom: 67px;
        right: 32px;
    }
    .arrow_down {
        height: 60px;
    }
}


/*Starting the media query to write the css style for the mobile view of the 'Home' page*/

@media screen and (max-width:545px) {
    html {
        overflow-x: hidden;
    }
    .small_screen {
        z-index: 3;
        height: 60px;
        padding-bottom: 10px;
        position: fixed;
        left: 0;
        right: 0;
        background: #fff;
        display: block;
    }
    .large_screen {
        display: none;
    }
    .menu,
    .social {
        width: 60px;
        margin: 20px;
    }
    .logo {
        left: 60px;
        right: 60px;
        top: 15px;
        padding: 0px 10px;
    }
    .section_main {
        font-size: 25px;
    }
    .section_sub {
        font-size: 13px;
    }
    .email {
        font-size: 13px;
        width: 190px;
        height: 40px;
    }
    .ok {
        font-size: 13px;
        width: 45px;
        height: 40px;
    }
    /* Safari,
    Chrome and Opera */
    ::-webkit-input-placeholder {
        font-size: 13px;
    }
    /* Firefox 19+ */
    ::-moz-placeholder {
        font-size: 13px;
    }
    .section_lower {
        font-size: 13px;
        margin-top: -25px;
        padding-bottom: 45px;
    }
    .arrow_down {
        height: 60px;
    }
    .feed_head {
        font-size: 25px;
    }
    .feed_tag {
        font-size: 13px;
        width: 100%;
    }
    .feed_bg {
        width: 133%;
        min-width: 0px;
    }
    .feed_bg_div {
        padding-bottom: 0px;
    }
    .feed_sub {
        height: 130px;
    }
    .feed_sub_div {
        height: 180px;
    }
    .feed_sub_head {
        font-size: 25px;
    }
    .feed_sub_content {
        font-size: 13px;
    }
    .feed_sub_image {
        width: 80%;
        margin: 0% 10%;
    }
    .feed_sub_image2 {
        margin-top: 135px;
    }
    .social_head {
        font-size: 25px;
    }
    .social_content {
        font-size: 15px;
    }
    @media screen and (max-width: 400px) {
        .social_links {
            display: block;
            height: 120px;
        }
        .social_image {
            width: 60%;
            height: 40px;
            padding-bottom: 20px;
        }
    }
    .upcome {
        height: 85px;
    }
    .upcome_image {
        height: 115px;
    }
    .upcome_tag {
        font-size: 22px;
        bottom: 55px;
        right: 30px;
    }
}
