@font-face {
    font-family: 'Asap-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Asap Bold'), local('Asap-Bold'), url(../Fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.woff) format('woff'), url(../Fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Asap'), local('Asap-Regular'), url(../Fonts/asap_9a9c99a733cce9abf9e9c7ad122ac9a5.woff) format('woff'), url(../Fonts/asap_9a9c99a733cce9abf9e9c7ad122ac9a5.ttf) format('truetype');
}

body {
    margin: 0px;
}

header {
    height: 60px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
}

a {
    text-decoration: none;
    padding: 3px;
}

div {
    display: inline-block;
}

li {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

main {
    text-align: center;
    color: #fff;
    margin-top: 60px;
}

#wrapper {
    width: 100%;
}

.active_page {
    font-family: Asap-Bold;
    font-size: 18px;
    color: #333;
}

.inactive_page {
    font-family: Asap-Bold;
    font-size: 18px;
    color: #999;
}

.social_icon {
    height: 32px;
}

.menu {
    width: 250px;
    float: left;
}

.logo {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 30px;
    text-align: center;
}

.social {
    float: right;
    width: 200px;
}

.why {
    width: 300px;
    text-align: justify;
}

.bgred_font_head {
    font-family: Asap-Bold;
    color: #fff;
}

.bgred_font_content {
    font-family: Asap-Regular;
    color: #fff;
}

.main_section {
    background-image: url("../Images/bg1_repeat.png");
    background-size: contain;
}

.section_main {
    font-size: 52px;
    margin: auto;
    padding-bottom: 21px;
}

.section_sub {
    font-size: 24px;
    margin: auto;
    padding-bottom: 41px;
}

.email {
    width: 269px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    background-color: red;
    opacity: 0.3;
    font-size: 20.3px;
    padding-left: 20px;
    outline: none;
}

input {
    vertical-align: top;
    outline: none;
}

.ok {
    height: 60px;
    width: 81px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-style: none;
    background-color: #2eec71;
    margin-left: -2px;
    border: 0px solid #fff;
    font-size: 20.3px;
}

.ok:hover {
    background-color: #006400;
}

.arrow_button {
    position: absolute;
    left: 0;
    right: 0;
}

.arrow_down {
    height: 66px;
    margin-top: -46px;
}

.section_submit {
    width: 100%;
    height: 70px;
    padding-bottom: 20px;
}

.submit_email {
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.section_lower {
    margin-top: 100px;
    width: 100%;
    font-size: 18px;
    padding-bottom: 41px;
}

section {
    margin: auto;
    padding: 20px 0px;
    min-height: 100px;
    ;
}

article {
    padding: 20px 0px;
}

.section_main_div {
    width: 100%;
    text-align: center;
}

.section_sub_div {
    width: 100%;
    text-align: center;
}


/* Safari, Chrome and Opera */

::-webkit-input-placeholder {
    color: #fff;
    font-size: 20.3px;
    font-family: Asap-Regular;
}


/* Firefox 19+ */

::-moz-placeholder {
    color: #fff;
    font-size: 20.3px;
    font-family: Asap-Regular;
}

.section_down_arrow {
    height: 83px;
}

.section_feed {
    width: 75%;
}

.feed_content {
    background-color: #f5f5f5;
    background-size: contain;
}

.feed_head {
    text-align: center;
    color: #333;
    font-size: 36px;
    font-family: Asap-Bold;
}

.feed_tag {
    width: 50%;
    margin: auto;
    color: #999;
    font-size: 20px;
    font-family: Asap-Regular;
}

.feed_bg_div {
    width: 80%;
    height: 200px;
    margin: auto;
    display: block;
}

.feed_bg {
    width: 100%;
    height: 100%;
    margin: auto;
}

.feed_sub {
    height: 300px;
    width: 75%;
}

.feed_sub_content {
    color: #333;
    font-size: 20px;
    font-family: Asap-Regular;
}

.feed_sub_image {
    width: 40%;
    height: 100%;
    display: inline-block;
}

.feed_sub_div {
    vertical-align: top;
    margin-left: 20px;
    width: 55%;
    height: 200px;
}

.feed_sub1_head {
    text-align: left;
    color: #333;
    font-size: 36px;
    font-family: Asap-Bold;
}

.feed_sub2_head {
    text-align: right;
    color: #333;
    font-size: 36px;
    font-family: Asap-Bold;
}

.social_head {
    color: #fff;
    font-size: 36px;
    font-family: Asap-Bold;
    text-align: center;
    width: 100%;
}

.social_content {
    color: #fff;
    font-size: 24px;
    font-family: Asap-Regular;
    text-align: center;
    margin: auto;
    width: 100%;
}

.social_links {
    text-align: center;
    width: 100%;
}

.social_image {
    width: 260px;
    height: 60px;
    width: 20%;
    padding: 0 5px;
}


/*Starting the media query for the first break point. 
Adjusting the sizes of the text to fit the new width.*/

@media screen and (max-width:785px) {
    .section_main {
        font-size: 45px;
    }
    .section_sub {
        font-size: 22px;
    }
    .email {
        font-size: 17px;
    }
    .ok {
        font-size: 17px;
    }
    /* Safari,
    Chrome and Opera */
    ::-webkit-input-placeholder {
        font-size: 17px;
    }
    /* Firefox 19+ */
    ::-moz-placeholder {
        font-size: 14px;
    }
    .feed_tag {
        font-size: 16px;
    }
    .feed_sub_content {
        font-size: 16px;
    }
    .feed_sub1_head {
        font-size: 25px;
    }
    .feed_sub2_head {
        font-size: 25px;
    }
    .social_head {
        font-size: 30px;
    }
    .social_content {
        font-size: 22px;
    }
}


/*Starting the media query for the second break point. 
Changing the view of "Personalize Your Feed" according to the new width.*/

@media screen and (max-width:550px) {
    .feed_sub_div,
    .feed_sub_image {
        display: block;
    }
    .feed_tag {
        width: 75%;
    }
    .feed_bg_div {
        width: 120%;
    }
    .feed_sub_head {
        text-align: center;
    }
    .feed_sub_div {
        margin: auto;
        width: 100%;
        text-align: center;
    }
}
